name: main
on:
  push:
    branches:
      - main

env:
  PROVIDER: "youtrackty"
  GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}

jobs:
  version:
    runs-on: ubuntu-latest
    # container:
    #   image: docker://ghcr.io/pulumi/devcontainer:latest
    #   options: --user root
    # permissions:
    #   contents: read
    #   packages: read
    #   actions: read
    name: version
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT_TOKEN }}
          fetch-depth: 0
      - name: Semver release
        id: release
        uses: cocogitto/cocogitto-action@v3.6
        with:
          release: true
          git-user: 'version'
          git-user-email: 'info@sys-int.de'